@import "tailwindcss";

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-blank-color: var(--blank-color);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --breakpoint-xs: 375px;

  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
  --radius-6xl: 3rem;
  --radius-7xl: 3.5rem;

  --text-base: clamp(0.7rem, 1.5vw, 1rem);
  --text-base2: clamp(0.7rem, 1.5vw, 0.9rem);
  --text-heading: clamp(0.9rem, 1.5vw, 1.25rem);
  --text-heading2: clamp(0.7rem, 1.5vw, 1.25rem);
  --text-sub-title: clamp(0.65rem, 1.5vw, 0.7rem);
  --text-small-detail: clamp(0.5rem, 1.25vw, 0.6rem);
  --text-button: clamp(0.6rem, 1.5vw, 0.7rem);

  --font-roboto-mono: "Roboto Mono", monospace;
  --font-dm-sans: "DM Sans", sans-serif;

  --animate-bounce-inf: bounceInf 1s ease-out infinite;
  --animate-bounce1: bounce1 1s ease-out 1;
}

:root {
  --bg-primary: #fff;
  --blank-color: #fff;
  --text-primary: #3d3d3d;
  --text-secondary: #7d7d7d;
}

@custom-media --xs (width >=375px);

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf");
}

@keyframes bounceInf {

  0%,
  30%,
  50%,
  to {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-7px);
  }

  40% {
    transform: translateY(-4px);
  }
}

@keyframes bounce1 {

  0%,
  30%,
  50%,
  to {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-12px);
  }

  40% {
    transform: translateY(-7px);
  }
}

.animated-border {
  border: none;
  background: linear-gradient(to right, transparent 90%, rgb(160, 194, 255) 40%);
  background-size: 20% 20%;
  animation: border-animation 5s linear infinite;
}

.flyOut2,
.flyOut8 {
  display: inline-block;
  transform: translate(0, 0) scale(1);
  opacity: 0;
  transition: transform 700ms ease, opacity 900ms ease;
}

.group:hover .flyOut2 {
  transform: translate(20px, 40px) scale(1.2) rotate(360deg);
  opacity: 1;
}

.group:hover .flyOut8 {
  transform: translate(20px, -30px) scale(1.2) rotate(-360deg);
  opacity: 1;
}

.custom-scrollbar::-webkit-scrollbar {
  scrollbar-gutter: stable;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: black
}

@layer utilities {
  .animate-expand {
    max-height: 0;
    opacity: 0;
  }

  .animate-expand-active {
    max-height: 1000px;
    opacity: 1;
  }

  .animate-expand-active-small {
    max-height: 500px;
    opacity: 1;
  }

  .animate-expand-bg {
    opacity: 0;
    height: 0;
  }

  .animate-expand-bg-active {
    opacity: 1;
    height: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  20% {
    transform: rotate(200deg)
  }

  80%,
  to {
    transform: rotate(540deg)
  }
}

.spin {
  animation: spin 1s ease-out 1
}